
.pagination-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
ul.pagination {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  .previous{
    border: none;
    svg{
      font-size: 25px;
      color: $success;
    }
    &.disabled{
      cursor: not-allowed;
      svg{
        color: $secondary;
      }
    }
  }
  .break{
    border: none;
  }
  .next{
    border: none;
    svg{
      font-size: 25px;
      color: $success;
    }
    &.disabled{
      cursor: not-allowed;
      svg{
        color: $secondary;
      }
    }
  }
  li{
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid $success;
    cursor: pointer;
    a{
      padding: 10px;
      font-weight: bold;
    }
    &.active{
      background-color: $success;
    }
  }

}
