

section.section-pokemon {
  margin:50px;

  .name {
    background-color: lighten($success, 40%);
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
      font-weight: bold;
      font-size: 35px;
      margin: 0;
    }
    .add-info {
      display: flex;
      align-items: center;
      div{
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
      }
      span{
        font-size: 18px;
      }
      svg{
        font-size: 25px;
      }
    }
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .skill {
      cursor: pointer;
      border: 2px solid black;
      width: 100px;
      text-align: center;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      span{
        font-weight: bold;
        font-size: 13px;
      }
      img{
        width: 100%;
      }
    }
  }
}


