

section.section-pokemon {
  margin:50px;

  .name {
    background-color: lighten($success, 20%);
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
      font-weight: bold;
    }
    .add-info {
      display: flex;
      align-items: center;
      div{
        margin-left: 10px;
        margin-right: 10px;
      }
      span{
        font-size: 20px;
      }
      svg{
        font-size: 30px;
      }
    }
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .skill {
      border: 2px solid black;
      min-width: 100px;
      text-align: center;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      span{
        font-weight: bold;
      }
      img{
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}


