

@include media-breakpoint-down(sm){

  section.error-container{
    h2{
      font-size: 30px;
    }
    h3{
      font-size: 20px;
    }
  }

  section.section-listing{
    .card-container {
      .card-title{
        font-size: 20px;
      }
      .badge {
        font-size: 17px;
      }
      .progress {
        height: 30px;
      }
    }
    .pagination-container{
      ul.pagination{
        width: 80%;
      }
    }
  }

  section.section-pokemon{
    margin: 10px;
  }

  section.section-abilities{
    .abilities-container{
      margin: 10px;
      .skill-container {
        max-width: 100px;
        .card{
          .card-body{
            padding: 5px;
            .card-title{
              display: flex;
              align-items: center;
              min-height: 30px;
              font-size: 11px;
            }
            button{
              padding: 5px;
              width: 100%;
            }
          }
        }
      }
    }
  }

}
// mobile screens
@include media-breakpoint-down(xs) {
  .gallery-container {
    img.photo{
      width: 30ch;
      height: 30ch;
      top: calc(50% - (30ch /2));
      left: calc(50% - (30ch /2));
    }
    .carousel-control-prev {
      left: 20%;
      top: 60%;
    }
    .carousel-control-next {
      right: 20%;
      top: 60%;
    }
  }
  .card-container{
    .card-title{
      font-size: 25px;
    }
  }

  section.section-listing{
    .pagination-container{
      ul.pagination{
        width: 100%;
        .previous{
          border: none;
          svg{
            font-size: 18px;
          }
        }
        .next{
          border: none;
          svg{
            font-size: 18px;
          }
        }
        .break{
          border: none;
        }
        li {
          padding: 5px;
          margin-left: 2px;
          margin-right: 2px;
          border: 1px solid $success;
          cursor: pointer;
          a {
            font-size: 14px;
            font-weight: bold;
          }

          &.active {
            background-color: $success;
          }
        }
      }
    }
  }
}

