

@include media-breakpoint-down(sm){

  .card-container {
    .card-title{
      font-size: 20px;
    }
    .badge {
      font-size: 17px;
    }
    .progress {
      height: 30px;
    }
  }
}
// mobile screens
@include media-breakpoint-down(xs) {
  .gallery-container {
    img.photo{
      width: 30ch;
      height: 30ch;
      top: calc(50% - (30ch /2));
      left: calc(50% - (30ch /2));
    }
    .carousel-control-prev {
      left: 20%;
      top: 70%;
    }
    .carousel-control-next {
      right: 20%;
      top: 70%;
    }
  }
  .card-container{
    .card-title{
      font-size: 25px;
    }
  }
}

