
@include media-breakpoint-down(md){
  section.section-pokemon {
    .name{
      h2{
        font-size: 20px;
      }
      .add-info {
        span{
          font-size: 16px;
        }
        svg{
          font-size: 22px;
        }
      }
    }
    .skills-container {
      .skill {
        width: 100px;
        span{
          font-size: 12px;
        }
      }
    }
  }
  .evolution-container{
    h3{
      font-size: 20px;
      margin-right: 10px !important;
    }
    svg{
      font-size: 20px;
    }
  }
}

@include media-breakpoint-down(sm){

  .evolution-container{
    h3{
      display: none;
    }
  }

  section.error-container{
    h2{
      font-size: 30px;
    }
    h3{
      font-size: 20px;
    }
  }

  section.section-listing{
    .card-container {
      .card-title{
        font-size: 20px;
      }
      .badge {
        font-size: 17px;
      }
      .progress {
        height: 30px;
      }
    }
  }
  .pagination-container{
    ul.pagination{
      width: 80%;
    }
  }

  section.section-abilities{
    .abilities-container{
      margin: 10px;
      .skill-container {
        max-width: 100px;
        .card{
          .card-body{
            padding: 5px;
            .card-title{
              display: flex;
              align-items: center;
              min-height: 30px;
              font-size: 11px;
            }
            button{
              padding: 5px;
              width: 100%;
            }
          }
        }
      }
    }
  }

  section.section-pokemon{
    .skills-container {
      .skill {
        width: 33%;
        max-width: 120px;
        span{
          font-size: 14px;
        }
      }
    }
  }

  section.section-ability-one{
    margin: 10px;
  }

}
// mobile screens
@include media-breakpoint-down(xs) {
    img.photo{
      width: 30ch;
      height: 30ch;
      top: calc(50% - (30ch /2));
      left: calc(50% - (30ch /2));
    }
    .carousel-control-prev {
      left: 20%;
      top: 60%;
    }
    .carousel-control-next {
      right: 20%;
      top: 60%;
    }
  .card-container{
    .card-title{
      font-size: 25px;
    }
  }

  .pagination-container{
    ul.pagination{
      width: 100%;
      .previous{
        border: none;
        svg{
          font-size: 18px;
        }
      }
      .next{
        border: none;
        svg{
          font-size: 18px;
        }
      }
      .break{
        border: none;
      }
      li {
        padding: 5px;
        margin-left: 0;
        margin-right: 0;
        border: 1px solid $success;
        cursor: pointer;
        a {
          padding: 0;
          font-size: 12px;
          font-weight: bold;
        }

        &.active {
          background-color: $success;
        }
      }
    }
  }
  section.section-pokemon{
    margin: 10px;
    .name{
      h2{
        font-size: 22px;
      }
      .add-info {
        span{
          font-size: 16px;
        }
        svg{
          font-size: 22px;
        }
      }
    }
    .skills-container {
      .skill {
        span{
          font-size: 10px;
        }
      }
    }
  }
  section.section-ability-one{
    .desc-container{
      h1{
        font-size: 30px;
        font-weight: bold;
      }
      p{
        font-size: 16px;
      }
    }
    .also-have-container{
      h2{
        font-size: 25px;
      }
    }
  }
}

