@import 'bootstrap_theme/variables';
@import './node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap_theme/bootswatch';
//override styles
@import 'override.scss';
//mixins
@import 'mixins/box-shadow.scss';
@import 'mixins/transitions.scss';
@import 'mixins/keyframes.scss';
//components && pages

@import 'listing.scss';
@import 'pokemon.scss';
@import 'abilities.scss';
@import 'ability.scss';
@import './components/navbar.scss';
@import './components/error.scss';
@import './components/card.scss';
@import './components/alert.scss';
@import './components/loader.scss';
@import './components/gallery.scss';
@import './components/stats.scss';
@import './components/pagination.scss';
@import './components/finder.scss';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
section{
  height: 100%;
}

.special-text{
  font-weight: bold;
  color: $danger;
  text-transform: uppercase;
}

.empty-container{
  margin: auto;
  padding-top:30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3{
    font-weight: bold;
    color: $danger;
  }
  svg{
    font-size: 40px;
    color: $danger;
  }
}


@import 'respo.scss';

